.container {
  display: flex;
  gap: 10em;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.title {
  font-size: 5.4em;
}
.description {
  font-size: 2em;
  font-weight: 300;
}
.subtitle {
  color: var(--btn);
}
.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1 {
  font-size: 2em;
  font-weight: k00;
  color: var(--btn);
}
.imgContainer {
  flex: 1;
  position: relative;
}

.img {
  object-fit: contain;
}
