.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 500px;
}

.formContainer {
  flex: 1;
  position: relative;
}

.img {
  object-fit: contain;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
}

.form button {
  background-color: var(--btn);
  color: var(--text);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: 2em;
}
