.container {
  display: flex;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 200px);
}

.img {
  object-fit: cover;
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.title {
  font-size: 1.8em;
}

.detail,
.detailText {
  display: flex;
  align-items: center;
  gap: 2em;
}

.avartar {
  object-fit: cover;
  border-radius: 50%;
}
.detailText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}

.content {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .imgContainer {
    display: none;
  }
}
