@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1d1d1f;
  }

  body {
    background-color: #ffffff;
    color: #1d1d1f;
    margin: 0;
    padding: 0;
  }

  input {
    color: #1d1d1f;
  }
}
