@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #c10002;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
  }

  input {
    color: #1d1d1f;
  }
}
